<?xml version="1.0"?>
<ruleset>
    <file>finder.php</file>
    <file>functionMap.php</file>
    <file>src/</file>
    <file>visitor.php</file>

    <rule ref="PSR12NeutronRuleset">
        <exclude name="Generic.Files.LineLength"/>
        <exclude name="PEAR.Commenting.ClassComment"/>
        <exclude name="PEAR.Commenting.FileComment"/>
    </rule>

</ruleset>
