parameters:
    paths:
        - finder.php
        - functionMap.php
        - visitor.php
        - src/
        - tests/
    excludePaths:
        - tests/data/
    level: 9
    ignoreErrors:
        -
            path: tests/Faker.php
            identifier: class.notFound
            count: 8
