parameters:
    paths:
        - finder.php
        - functionMap.php
        - visitor.php
        - src/
        - tests/
    excludePaths:
        - tests/data/
    level: 9
    featureToggles:
        alwaysTrueAlwaysReported: true
        listType: true
