parameters:
    level: 2
    paths:
        - wordpress-stubs.php
    ignoreErrors:
        - '#return statement is missing#'
        - '#PHPMailer#'
        - '#duplicate keys with value#'
        - '#WP_HTTP_Streams#'
        - '#unused parameter#'
        - '#Constant [A-Z0-9_]+ not found#'
        - '#Default value of the parameter#'
        - '#\\stream#'
        - '#\\GdImage#'
        - '#\\IRI#'
        - '#Requests#'
        - '#SimplePie#'
